*_nouns
*_nouns_ngram
*_test
*.npy

# Files from pdflatex I think we shouldn't keep backed up
*.aux
*.pdf
*.log

# Temporary files left by emacs or vim
*~
*.swp

# Ignore the virtual environment
/venv
.ropeproject
