*_nouns
*_nouns_ngram
*_test
*.npy
*_nouns_bigram
*_catngram


# Files from pdflatex I think we shouldn't keep backed up
*.aux
*.pdf
*.log

# Temporary files left by emacs or vim
*~
*.swp

# Ignore the virtual environment
/venv
.ropeproject

#TODO.txt#
#test#
Biology
Computing
History
Mathematics
Medicine
Philosophy
Physics
Psychology
Sports
